      <div id="mainBody">
        <form method="post" action="/admin/%objectName%/rp/save/$this->%objectName%Id">
          <div class="mainTitle">
            <h1>$%objectName%Name</h1>
            <div id="objectName" style="display: none;">%objectName%</div>
            <div class="mainTitleInfo"></div>
          </div>
          <div class="mainText">
            <div class="editGrid clearTop">
              %editors%
            </div>
            <div class="greyBox">
              <div style="margin-left: 22%;"><input type="submit" value="Сохранить" /></div>
              <div style="clear: left;"></div>
            </div>
          </div>
        </form> 
      </div>
      