              <div class="editGridItem">
                <div class="editGridLabel">%propertyTitle%:</div>
                <div class="editGridHolder">
                  <div class="fileUploader" id="fileUploader%objectName%%upperCasePropertyName%">
                    
                    <div id="fileButton%objectName%%upperCasePropertyName%" class="photo"></div>
                    <input id="%objectName%%upperCasePropertyName%" type="hidden" name="%propertyName%" value="" />
                  </div>

                
                </div>
                <div class="editGridEnd"></div>
              </div>
              