              <div class="editGridItem">
                <div class="editGridLabel">%propertyTitle%:</div>
                <div class="editGridHolder">
                  <div class="imageUploader" id="imageUploader%objectName%%upperCasePropertyName%">
                  
                    <img class="image" id="image%objectName%%upperCasePropertyName%" src="$%objectName%%upperCasePropertyName%" />
                    
                    <div id="imageButton%objectName%%upperCasePropertyName%" class="photo"></div>
                    <input id="%objectName%%upperCasePropertyName%" type="hidden" name="%propertyName%" value="" />
                  </div>

                
                </div>
                <div class="editGridEnd"></div>
              </div>
              