<tr>
  <td style="line-height: 50px; height: 50px;">&nbsp;</td>
  <td>&nbsp;</td>
  
</tr>
<tr>
  <td colspan="2"><h3>$route</h3></td>
  
</tr>
<tr>
  <td>Путь</td>
  <td><input type="text" style="width: 300px;" name="route[{$i}]" value="{$route}" /></td>
  
</tr>
<tr>
  <td>Файл</td>
  <td><input type="text" style="width: 300px;" name="routePath[{$i}]" value="{$routeData['route']}" /></td>
</tr>
<tr>
  <td>Класс</td>
  <td><input type="text" name="routeClass[{$i}]" value="{$routeData['class']}" /></td>
</tr>

$parametersList