<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>    
    <script type="text/javascript" src="/scripts/ff/jquery.js"></script>
    <script type="text/javascript" src="/scripts/ff/router/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/ff/global.css" />
    <title></title> 
  </head>
<h1>Страницы</h1>
<form action="/admin/router/rp/save/" method="post">
<table id="router">
<tbody>
$routeList 
</tbody>
</table>
<div>
<button type="submit">Сохранить</button>
</div>
</form>
  </body>
</html>