    public function add{$ucPropertyName}({$parameters})
    {
      \${$propertyName}Ids = \$this->{$propertyName}Ids;
      
      if (!\$this->itemExists(\${$propertyName}Id, '{$propertyName}Id', \${$propertyName}Ids))
      {
        \$item = new stdClass();
{$itemParameters};
        \$this->properties['{$propertyName}Ids'][] = \$item;
        
        \$this->dirty['save{$ucPropertyName}s'] = true;
      }
    }

    public function remove{$ucPropertyName}(\${$propertyName}Id)
    {
      \${$propertyName}Ids = \$this->{$propertyName}Ids;
      
      \$key = \$this->searchItem(\${$propertyName}Id, '{$propertyName}Id', \${$propertyName}Ids);
      
      if (\$key !== false)
      {
        unset(\$this->properties['{$propertyName}Ids'][\$key]);
        \$this->dirty['save{$ucPropertyName}s'] = true;
      }
    }

    public function remove{$ucPropertyName}s()
    {
      \$this->properties['{$propertyName}Ids'] = array();
      
      \$this->dirty['save{$ucPropertyName}s'] = true;
    }

    protected function save{$ucPropertyName}s()
    {
      \$dataLink = \$this->application->dataLink;
      \$cacheLink = \$this->application->cacheLink;
      
      \$cacheKeysToDelete = array();
      \$cacheKeysToDelete[] = '{$objectName}_{$propertyName}s_' . \$this->properties['identifier']; 
      
      \${$propertyName}Ids = \$this->properties['{$propertyName}Ids'];
      
      foreach (\${$propertyName}Ids as \$item)
      {
        \${$propertyName}Id = \$item->{$propertyName}Id;
        \$cacheKeysToDelete[] = '{$otherObjectPropertyName}_{$thisPropertyName}s_' . \${$propertyName}Id; 
      }
      
      foreach (\$cacheKeysToDelete as \$cacheKey)
      {
        \$cacheLink->delete(\$cacheKey);
      }
      
      \$sql = "
        DELETE FROM 
          `{$tableName}`
        WHERE 
          `{$thisObjectFieldName}` = " . \$this->properties['identifier'] . ";";
      
      \$dataLink->query(\$sql);
      
      \$insertStrings = array();
      
      foreach (\$this->properties['{$propertyName}Ids'] as \$item)
      { 
        \$insertStrings[] = '(' . {$insertStrings} . ')';
      }
      
      if (count(\$insertStrings) > 0)
      {
        \$sql = "INSERT IGNORE INTO
                  `{$tableName}`
                  ({$sqlFields})
                VALUES
                  " . implode(', ', \$insertStrings) . ";";
                  
        \$dataLink->query(\$sql);
      }
      
      \$this->enqueueCache('save{$ucPropertyName}s');
      \$this->dirty['save{$ucPropertyName}s'] = false;    
    }
    