    public function add{$ucPropertyName}({$parameters})
    {
      \${$propertyName}Ids = \$this->{$propertyName}Ids;
      
      if (!\$this->itemExists(\${$propertyName}Id, '{$propertyName}Id', \${$propertyName}Ids))
      {
        \$item = new stdClass();
{$itemParameters};
        \$this->properties['{$propertyName}Ids'][] = \$item;
        
        \$this->dirty['save{$ucPropertyName}s'] = true;
      }
    }

    public function remove{$ucPropertyName}(\${$propertyName}Id)
    {
      \${$propertyName}Ids = \$this->{$propertyName}Ids;
      
      \$key = \$this->searchItem(\${$propertyName}Id, '{$propertyName}Id', \${$propertyName}Ids);
      
      if (\$key !== false)
      {
        unset(\$this->properties['{$propertyName}Ids'][\$key]);
        \$this->dirty['save{$ucPropertyName}s'] = true;
      }
    }

    public function remove{$ucPropertyName}s()
    {
      \$this->properties['{$propertyName}Ids'] = array();
      
      \$this->dirty['save{$ucPropertyName}s'] = true;
    }

    protected function save{$ucPropertyName}s()
    {
      \$dataLink = \$this->application->dataLink;
      \$cacheLink = \$this->application->cacheLink;
      
      \$cacheKeysToDelete = array();
      \$cacheKeysToDelete[] = '{$objectName}_{$propertyName}s_' . \$this->properties['identifier']; 
      
      \$old{$ucPropertyName}Ids = \$this->properties['old{$ucPropertyName}Ids'];
      \${$propertyName}Ids = \$this->properties['{$propertyName}Ids'];
      
      \$itemsToDelete = \$this->itemDiff(\$old{$ucPropertyName}Ids, \${$propertyName}Ids, '{$propertyName}Id');
      \$itemsToAdd = \$this->itemDiff(\${$propertyName}Ids, \$old{$ucPropertyName}Ids, '{$propertyName}Id');
      
      foreach (\$itemsToDelete as \$itemToDelete)
      {
        \${$propertyName}Id = \$itemToDelete->{$propertyName}Id;
        \$cacheKeysToDelete[] = '{$otherObjectPropertyName}_{$thisPropertyName}s_' . \${$propertyName}Id; 
      }
      
      foreach (\$cacheKeysToDelete as \$cacheKey)
      {
        \$cacheLink->delete(\$cacheKey);
      }
      
      if (count(\$itemsToDelete) > 0)
      {
        \$sql = "
          DELETE FROM 
            `{$tableName}`
          WHERE 
            `{$thisObjectFieldName}` = " . \$this->properties['identifier'] . "
            AND `{$otherObjectFieldName}` IN (" . \$this->itemImplode(\$itemsToDelete, '{$propertyName}Id') . ");";
        
        \$dataLink->query(\$sql);
      }
      
      \$insertStrings = array();
      
      foreach (\$itemsToAdd as \$item)
      { 
        \$insertStrings[] = '(' . {$insertStrings} . ')';
      }
      
      if (count(\$insertStrings) > 0)
      {
        \$sql = "INSERT IGNORE INTO
                  `{$tableName}`
                  ({$sqlFields})
                VALUES
                  " . implode(', ', \$insertStrings) . ";";
                  
        \$dataLink->query(\$sql);
      }
      
      \$this->enqueueCache('save{$ucPropertyName}s');
      \$this->dirty['save{$ucPropertyName}s'] = false;    
      
      \$this->properties['old{$ucPropertyName}Ids'] = \$this->properties['{$propertyName}Ids'];
    }
    